
// Colours

$white: #FFFFFF;
$black: #292c33;
$light_grey: #7d7e80;
$grey: #616366;
$gold: #a49b7d;


// Fonts
$base-font-size: 16px;
$font-body: "Myriad Pro Regular", Helvetica, Arial, sans-serif;

// Spacing

$base-spacing-unit: 20px;

// Widths

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
