/** Header **/

$header_color: $white;

.header {
    border: solid 1px red;
    overflow: hidden;
}

.header__logo {
    float: left;
}

.header__burger {
    float: right;
    height: 22px;
    width: 26px;
    position: relative;

    &:before,
    &:after,
    .header__burger--filling {
        background-color: $header_color;
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }

    .header__burger--filling {
        margin-top: -2px;
        top: 50%;
    }
}


/** Navigation **/

.navigation {
    background-color: $black;
    color: $header_color;
    min-height: 100vh;
    padding: $base-spacing-unit * 2;
}

.navigation__list {
    border: solid 1px red;
    margin: 20px 0 0;
}



/*-- Breakpoints --*/

@include screen-bigger-than($tablet) {

    .navigation {
        padding: 10%;
    }

}
